<div class="item" >
  <div [routerLink]="['/details',product.id]" class="item-router">

    <img src="{{ product?.image }}" alt="" />
    <div class="body">
      <h4>{{ product?.title }}</h4>
      <p>{{ product?.description }}</p>
    </div>
  </div>

  <div class="px-3 mb-2 d-flex justify-content-between align-item-center">
    <button class="btn btn-success" *ngIf="!addBtn" (click)="addBtn = true">
      Add To Cart
    </button>
    <div class="d-flex w-50" *ngIf="addBtn">
      <input type="number" class="form-control" [(ngModel)]="amount" />
      <button class="btn btn-danger" (click)="addToCart(); addBtn =false;">Add</button>
    </div>
    <span>{{ product?.price | currency: "USD" }}</span>
  </div>
</div>
